html,
body,
#map {
  height: 100%;
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.viewport {
  height: 100%;
}

.contenido {
  height: 95%;
  color: white;
}

.barra-superior {
  background-color: #080; /* color de fondo de la barra superior */
  color: #fff; /* color de texto de la barra superior */
  padding: 0px; /* espacio de relleno para los títulos */
  display: flex; /* para hacer que los títulos estén en línea */
  justify-content: space-between; /* para hacer que los títulos estén alineados a los extremos */
}

.titulo {
  margin: 0; /* para eliminar el margen predeterminado del encabezado */
  padding-left: 10px;
}

.subtitulo {
  margin: 0; /* para eliminar el margen predeterminado del encabezado */
  font-size: 1.2rem; /* tamaño de fuente para el subtítulo */
  padding-right: 10px;
}



